<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    {% include meta.html %}
    <title>
      404: Page not found - {{ page.title }}
    </title>
  </head>
  <body>

    {% include masthead.html %}

    <div class="content container">
      <div class="fourohfour">
        <h1>404: Page not found</h1>
        <p class="lead">Sorry, we've misplaced that URL or it's pointing to something that doesn't exist. <a href="/">Visit the home page</a> to see if you can find it manually. Thanks!</p>
      <div>
    </div>

  </body>
</html>
