<header class="masthead">
  <div class="masthead-inner">
    <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
    <p class="lead">{{ site.tagline }}</p>

    <div class="colophon">
      <ul class="colophon-links">

        <li><a href="/archive.html">Archive</a></li>
	<li><a href="{{ site.feed }}">Feed</a></li>
        <li><a href="https://twitter.com/vbalazs">Twitter</a></li>
        <li><a href="https://github.com/vbalazs">GitHub</a></li>
        <li><a href="https://plus.google.com/+BalazsVarga/about">Google+</a></li>

      </ul>
    </div>

  </div>
</header>
