<header class="masthead">
  <div class="masthead-inner">
    <h2>{{ site.title }}</h2>
    <p class="lead">{{ site.tagline }}</p>

    <div class="colophon">
      <ul class="colophon-links">
        <li>
          <a href="https://github.com/mdo/hyde/archive/v1.0.0.zip">Download</a>
        </li>
        <li>
          <a href="https://github.com/mdo/hyde">GitHub project</a>
        </li>
        <li>Currently v1.0</li>
      </ul>
      <p>&copy; 2013. {{ site.author.name }} All rights reserved.</p>
    </div>

  </div>
</header>