.masthead h1 {
  font: normal bold 24px 'PT mono', sans-serif;
}

.masthead .lead {
  color: orange;
  font: italic 20px 'PT mono', sans-serif;
}

.colophon-links li {
  margin-top: 7px;
  font-size: 20px;
}

.post {
  text-align: justify;
}

.post h1 a {
  color: grey;
}

.post h1 a:visited {
  color: grey;
}

.content a {
  color: #2D80EB;
}

.content a:visited {
  color: #ACACAC;
}


.meta .date {
  color: grey;
}

.related {
  padding-top: 10px;
}

.post {
  margin-bottom: 20px;
}

div.custom-post-share-buttons {
    margin-bottom: 25px;
    margin-top: 25px;
}

div.custom-post-share-buttons a {
  margin-right: 10px;
  padding: 5px;
  font-family: 'Open Sans', Arial, serif;
  color: rgba(119, 102, 90, 0.72);
  text-decoration: none;
  background-color: #f0f0f0;
  border-radius: 5px;
}

div.custom-post-share-buttons a:hover {
  cursor: pointer;
  font-family: 'Open Sans', Arial, serif;
  text-decoration: none;
  background-color:  #2D80EB; /*#a5c63b;*/
  color: #ffffff;
  -webkit-transition-duration: .4s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-duration: .4s;
  -moz-transition-timing-function: ease-out;
  -o-transition-property: background color;
  -o-transition-duration: .4s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: background color;
  -ms-transition-duration: .4s;
  -ms-transition-timing-function: ease-out;
  transition-property: background color;
  transition-duration: .4s;
  transition-timing-function: ease-out;
  border-radius: 5px;
}

.code .line-numbers {
  display: none;
}
