.masthead h1 {
  font: normal bold 32px 'PT mono', sans-serif;
}

.masthead .lead {
  color: orange;
  font: italic 22px 'PT mono', sans-serif;
}

.post h1 a {
  color: grey;
}

.post h1 a:visited {
  color: grey;
}

.content a {
  color: #2D80EB;
}

.content a:visited {
  color: #ACACAC;
}


.meta .date {
  color: grey;
}

.related {
  padding-top: 10px;
}

.post {
  margin-bottom: 20px;
}

/* fonts */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(/assets/fonts/opensans-v6-DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/assets/fonts/opensans-v6-u-WUoqrET9fUeobQW7jkRT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(/assets/fonts/opensans-v6-MTP_ySUJH_bn48VBG8sNSha1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/assets/fonts/opensans-v6-k3k702ZOKiLJc3WVjuplzBa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/assets/fonts/opensans-v6-xjAJXh38I15wypJXxuGMBtIh4imgI8P11RFo6YPCPC0.woff) format('woff');
}
@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'), url(/assets/fonts/ptmono-v1-dMra6Jbp4dctDCd8lX4tlg.woff) format('woff');
}

div.custom-post-share-buttons {
    margin-bottom: 25px;
    margin-top: 25px;
}

div.custom-post-share-buttons a {
  margin-right: 10px;
  padding: 5px;
  font-family: 'Open Sans', Arial, serif;
  color: rgba(119, 102, 90, 0.72);
  text-decoration: none;
  background-color: #f0f0f0;
  border-radius: 5px;
}

div.custom-post-share-buttons a:hover {
  cursor: pointer;
  font-family: 'Open Sans', Arial, serif;
  text-decoration: none;
  background-color:  #2D80EB; /*#a5c63b;*/
  color: #ffffff;
  -webkit-transition-duration: .4s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-duration: .4s;
  -moz-transition-timing-function: ease-out;
  -o-transition-property: background color;
  -o-transition-duration: .4s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: background color;
  -ms-transition-duration: .4s;
  -ms-transition-timing-function: ease-out;
  transition-property: background color;
  transition-duration: .4s;
  transition-timing-function: ease-out;
  border-radius: 5px;
}
