<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    {% include meta.html %}
    <title>
      {% if page.title %}
        {{ page.title }} &middot; {{ site.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>
  </head>
  <body>

    {% include masthead.html %}

    <div class="content container">
      {{ content }}
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-21696927-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700|PT+Mono&subset=latin,latin-ext" />
</html>
