---
layout: default
---

<div class="post">
  <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <p class="meta">
    <span class="date">{{ page.date | date_to_string }}</span>
  </p>
  <div class="content">
    {{ content }}
  </div>

  <div class="tags">
    Tags:
    {{ page.tags | array_to_sentence_string }}
  </div>
</div>

{% if site.categories[page.categories.first].size > 1 %}
  <div class="related">
    <h3>More posts in '{{page.categories.first}}' category</h3>
    <ul class="related-posts">
      {% for post in site.categories[page.categories.first] %}
        {% if page.title != post.title %}
          <li>
            <small>{{ post.date | date_to_string }}</small> &raquo;
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
